$black: #2B292D;
$blue-light:#0189D1;
$blue-one :#3040C4;
$blue-two:#3141C5;
$blue-three:#3142C6;
$green :#009B4D;
$orange:#F1592B;
$grey:rgba(43, 41, 45, 0.6);
$grey-background:#F4F5F7;
$blue-light-background:#00A1C6;
$pink-light-background:#FCF0E3;
$pink-dark-background:#F3C6BD;
$purple:#3142C6;
$blue-text:#0189D1;